@font-face {
  font-family: 'League Spartan';
  src: local('LeagueSpartan-Bold'),
    url(./fonts/leaguespartan-bold.woff) format('woff');
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 11pt;
  font-weight: 100;
}
h1,
h2,
h3,
h4 {
  font-weight: 400;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.app-body {
  padding-top: 50px;
}

p {
  margin: 0;
}

@media (min-width: 600px) {
  .app-body {
    padding-top: 64px;
  }
}
