.dialog {
  background-color: transparent !important;
  box-shadow: none !important;
  width: 100%;
  max-width: 320px !important;
  margin: 10px !important;
}
.list {
  max-height: 80vh;
  overflow: auto;
}
.close {
  color: white !important;
  width: max-content !important;
  margin-left: auto !important;
}
