.dialog {
  background-color: transparent !important;
  box-shadow: none !important;
  width: 100%;
  max-width: 320px !important;
  margin: 10px !important;
}
.cancel {
  cursor: pointer;
  margin-left: auto;
  margin-bottom: 0.5rem;
}
