.paper {
  width: 90%;
  margin: auto;
}
.content {
  margin-top: 10vh;
  padding: 1rem;
  text-align: center;
  a,
  span {
    color: blue !important;
    text-decoration: none !important;
    cursor: pointer;
  }
}
