.mapContainer {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
.fab {
  font-size: 1.5rem !important;
  width: 36px !important;
  height: 36px !important;
  position: fixed !important;
  z-index: 1;
  top: 4rem !important;
  right: 0.5rem !important;
}

@media (min-width: 600px) {
  .mapContainer {
    left: 330px;
  }
  .fab {
    width: 45px !important;
    height: 45px !important;
    top: 4.5rem !important;
  }
}
