.bubble {
  overflow: visible !important;
  cursor: pointer !important;
  text-align: center;
  width: 20px;
  height: 20px;
  padding: 5px;
  position: relative;
  background: #ff5722;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.3);
  color: white;
}

.bubbleActive {
  background: #3f51b5;
  z-index: 997 !important;
  &:after {
    border-top: 11px solid #3f51b5 !important;
  }
}

.bubbleCheckedIn {
  background: green !important;
  z-index: 998 !important;
  &:after {
    border-top: 11px solid green !important;
  }
}

.bubbleLight {
  background: white;
  box-shadow: 1px 2px 8px rgba(3, 155, 229, 0.3);
  z-index: 999 !important;
  color: green;
}

.bubble:before {
  content: '';
  position: absolute;
  bottom: -12px;
  left: 15px;
  transform: translate(-50%, 0);
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 12px solid rgba(0, 0, 0, 0.15);
}

.bubble:after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 15px;
  transform: translate(-50%, 0);
  width: 0;
  height: 0;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-top: 11px solid #ff5722;
}

.bubbleLight:before {
  border-top: 12px solid rgba(3, 55, 229, 0.15);
}

.bubbleLight:after {
  border-top: 11px solid white !important;
}

.index {
  font-size: 13pt;
  color: white;
  text-align: center;
}

.popper {
  z-index: 9999;
  padding: 10px 0;
  left: -6px !important;
}

.status {
  display: flex;
  font-size: 11pt;
  justify-content: space-between;
  p {
    display: inline;
    padding-bottom: 1rem;
  }
  > div {
    display: flex;
    i {
      line-height: 1.3rem;
      margin-left: 0.3rem;
    }
  }
}

.statusCenter {
  justify-content: center !important;
}

.large {
  width: 75px !important;
  &:after {
    left: 44px !important;
  }
}

.medium {
  width: 38px !important;
  &:after {
    left: 24px !important;
  }
}
