.container {
  border-radius: 3px;
  padding: 15px;
  width: 345px;
  >div {
    justify-content: space-between;
    display: flex;
  }
}
.address {
  margin-top: 5px;
  p {
    margin: 0;
  }
}
.photo {
  width: 95px;
  img {
    width: 90px;
    height: 90px;
    object-fit: cover;
    border-radius: 3px;
  }
}
.checkin {
  &:hover {
    text-decoration: underline
  }
  cursor: pointer;
  margin: 10px 0 0 0;
  color: blue;
  font-size: 14pt;
}