.drawer {
  margin-top: 50px;
  width: auto;
  right: 0 !important;
  height: auto !important;
  bottom: 0;
  z-index: 1 !important;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.3) !important;
  overflow: hidden !important;
}
.content {
  padding: 15px;
  overflow: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 50px;
  bottom: 0;
}
.header {
  display: flex;
  align-items: center;
  padding: 0 8px;
  justify-content: flex-end;
}
.row {
  margin-bottom: 1.5rem;
}
.hideMenu {
  background-color: rgba(0, 0, 0, 0.1);
  padding-top: 0.3rem;
  padding-left: 0.5rem;
  display: flex;
  align-items: center;
  min-height: 35px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.6);
}
@media (min-width: 600px) {
  content {
    top: 55px;
  }
  .hideMenu {
    padding-top: 0;
    min-height: 30px;
  }
  .drawer {
    width: 400px;
    margin-top: 64px;
  }
}
