.container {
  display: flex;
  box-shadow: rgba(135, 135, 135, 0.5) 0px 2px 4px 0px;
}
.info {
  width: 100%;
  padding: 10px;
  a {
    color: black;
  }
  h4 {
    margin: 0;
    margin-bottom: 0.3em;
  }
}
.actions {
  margin-top: 10px;
  display: flex;
  align-items: center;
}
.gameStatus,
.venueStatus {
  border-left: 1px solid lightgray;
  min-width: 110px;
}
.venueStatus > div,
.gameStatus {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.venueStatus {
  > div {
    height: 50%;
  }
  > div:first-child {
    border-bottom: 1px solid lightgray;
  }
}
.checkIn {
  margin-right: 5px !important;
  color: green !important;
  border: 1px solid green !important;
}
.checkedIn {
  margin-right: 5px;
  color: green;
}
