.container {
  display: flex;
}
.info {
  width: 100%;
  padding: 10px;
  a {
    color: black;
    &:hover {
      color: darkblue;
    }
  }
  h4 {
    font-size: 12pt;
    margin: 0;
    margin-bottom: 0.3em;
  }
}
.actions {
  margin-top: 1rem;
  display: flex;
  align-items: center;
}
.gameStatus,
.venueStatus {
  border-left: 1px solid lightgray;
  min-width: 110px;
}
.venueStatus > div,
.gameStatus {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.venueStatus {
  > div {
    height: 50%;
  }
  > div:first-child {
    border-bottom: 1px solid lightgray;
  }
}
.venueStatus {
  text-decoration: none;
  color: #0000eeee;
}
.checkIn {
  margin-right: 5px !important;
  color: green !important;
  border: 1px solid green !important;
}
.checkedIn {
  margin-right: 5px;
  color: green;
}
.gamesActive,
.checkInsActive {
  background: #3f51b5;
  color: white;
  border: 1px solid #5566c3 !important;
}
.showMap {
  border: 0;
  cursor: pointer;
  border-radius: 5px;
  outline: 0;
  color: blue;
  font-size: 9pt;
  transition: background 0.3s;
  background-color: white;
  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
}
