.content {
  display: flex;
  padding: 1rem;
  align-items: center;
  justify-content: space-between;
  p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 80%;
  }
}
.status {
  text-align: center;
  font-size: 12pt;
  color: white;
  padding: 0.3rem;
  background-color: #1976d2;
}
