.avatar {
  width: 50px !important;
  height: 50px !important;
  border-radius: 0 !important;
  margin-right: 10px;
}
.content {
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  padding-right: 10px;
}
.body {
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  .actions {
    margin-left: auto;
    display: flex;
    align-items: center;
  }
  button {
    padding: 0 !important;
  }
  .cancelInvite {
    margin-left: 10px;
    min-width: auto;
    color: red;
  }
}
.info {
  flex-grow: 1;
  p:first-child {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 80%;
  }
}
.status {
  text-align: center;
  font-size: 12pt;
  color: white;
  padding: 0.3rem;
  background-color: #1976d2;
}
