.navContainer {
  margin-left: auto;
}
.navBurger i {
  font-size: 15pt;
}
.fixedNav {
  display: none;
}
.navItems {
  display: flex;
  flex-direction: column;
}
.drawer > div:nth-child(2) {
  background-color: rgb(255, 145, 77);
  bottom: 0;
  border-bottom: 0;
}
.drawer > div button {
  color: white;
}
.drawerListItemText > span {
  text-align: center;
  color: white;
}
.closeIconContainer {
  text-align: right;
  i {
    font-size: 15pt;
  }
}
.bar {
  background-color: rgb(255, 145, 77) !important;
  color: white;
  button {
    color: inherit;
    font-size: 12pt;
  }
}
.barTransparent {
  background-color: rgba(0, 0, 0, 0) !important;
  box-shadow: none !important;
  button {
    color: white;
  }
}
.brand {
  font-family: 'League Spartan';
  margin-left: 5%;
  flex-grow: 1;
  h1 {
    cursor: pointer;
    width: max-content;
    margin: 0;
  }
}
.defaultAv {
  cursor: pointer;
  padding: 5px;
  font-size: 33px !important;
}
.badge span {
  top: 5px;
  right: 5px;
  height: 15px;
  min-width: 15px;
}
.inlineBadge {
  margin-left: 8px;
  width: 16px;
  height: 16px;
  border-radius: 100%;
  background-color: #3f51b5;
  font-size: 9pt;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  line-height: 1;
}
.buttons {
  margin-left: auto;
}
.invertedButtons {
  button {
    color: rgb(255, 145, 77);
    border-color: rgb(255, 145, 77) !important;
    transition: all 0.3s !important;
    &:hover {
      color: white;
      border-color: white !important;
    }
  }
}

@media (min-width: 600px) {
  .navBurger {
    display: none !important;
  }
  .drawer {
    display: none;
  }
  .fixedNav {
    display: block;
  }
  .navItems {
    display: flex;
    position: relative;
    flex-direction: row;
  } 
  .closeIconContainer {
    display: none;
  }
}
