.bar {
  background-color: #ff5722 !important;
  color: white;
  button {
    color: inherit;
    font-size: 12pt;
  }
}
.brand {
  font-family: 'Carter One', cursive;
  margin-left: 5%;
  flex-grow: 1;
  h1 {
    cursor: pointer;
    width: max-content;
    margin: 0;
    font-size: 1.1rem;
  }
}
.defaultAv {
  cursor: pointer;
  padding: 5px;
  font-size: 33px !important;
}
.badge span {
  top: 5px;
  right: 5px;
  height: 15px;
  min-width: 15px;
}

@media (min-width: 500px) {
  .brand h1 {
    font-size: 2rem !important;
  }
}
