.popper {
  position: absolute;
  top: 8px;
  left: 0;
  transform: translate(-25%,-70%);
  background: white;
  width: 245px;
  font-size: 11pt;
  padding: 10px;
  cursor: default;
  border-radius: 5px;
  z-index: 99;
}
.close {
  cursor: pointer;
  font-size: 15pt;
  position: absolute;
  top: 5px;
  right: 5px;
}
