.paper {
  width: 100%;
  max-width: 400px !important;
}
.signup {
  margin-bottom: 0;
  text-align: center;
  span {
    margin-left: 3px;
    color: blue;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
}
.flash {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
  padding: 15px;
  margin: 24px 24px 0;
  border: 1px solid transparent;
  border-radius: 4px;
  padding-right: 35px;
}
